body {
    background-image: url("./images/background.jpg");
}
.title {
    text-align:center;
    font-size:55px;
    color:white;
}
.text {
    text-align:center;
    color:white;
    font-size:25px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
}
img {
    width: 150px;
    height: 150px;
}
button {
    border-radius:5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}
.scaling {
    scale:1.2;
}